

# PlanAhead Generated physical constraints 

INST "LUT6_2_keccak_out01" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_4_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_4_2" AREA_GROUP = "KECCAK";
INST "state_regss/rst_input[0].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/rst_input[1].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/rst_input[2].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/rst_input[3].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/rst_input[4].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/abs_input[1].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/abs_input[2].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/abs_input[0].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/abs_input[3].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "state_regss/abs_input[4].calc_keccak_in_init" AREA_GROUP = "KECCAK";
INST "chi_n_iota_perms/LUT5_inst" AREA_GROUP = "KECCAK";
INST "theta_perm/parities/theta_addddresses[0].RAM64X1S_inst" AREA_GROUP = "KECCAK";
INST "chi_n_iota_perms/LUT6_2_inst" AREA_GROUP = "KECCAK";
INST "LUT6_2_keccak_out23" AREA_GROUP = "KECCAK";
INST "chi_n_iota_perms/LUT6_2_inst_2" AREA_GROUP = "KECCAK";
INST "XST_GND" AREA_GROUP = "KECCAK";
INST "XST_VCC" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_4_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_4_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_0_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_0_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_1_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_1_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_2_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_2_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_3_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_4/SRLC32E_inst_3_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_1_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_1_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_2_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_2_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_3_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_3_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_4_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_4_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_0_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_0_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_1_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_1_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_2_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_2_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_3_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_3/SRLC32E_inst_3_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_1_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_2_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_2_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_3_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_3_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_4_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_4_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_0_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_2/SRLC32E_inst_0_2" AREA_GROUP = "KECCAK";
INST "theta_perm/parities/theta_addddresses[2].RAM64X1S_inst" AREA_GROUP = "KECCAK";
INST "theta_perm/parities/theta_addddresses[1].RAM64X1S_inst" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_0_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_0_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_1_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_1_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_2_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_2_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_3_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_3_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_4_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_0/SRLC32E_inst_4_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_0_1" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_0_2" AREA_GROUP = "KECCAK";
INST "state_regss/plane_1/SRLC32E_inst_1_1" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_4" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_3" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_2" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_1" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_0" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_1_inst_and2" AREA_GROUP = "KECCAK";
INST "theta_perm/calc_sm_63" AREA_GROUP = "KECCAK";
INST "theta_perm/theta_perm/LUT5_inst_4" AREA_GROUP = "KECCAK";
INST "theta_perm/theta_perm/LUT5_inst_3" AREA_GROUP = "KECCAK";
INST "theta_perm/theta_perm/LUT5_inst_2" AREA_GROUP = "KECCAK";
INST "theta_perm/theta_perm/LUT5_inst_1" AREA_GROUP = "KECCAK";
INST "theta_perm/theta_perm/LUT5_inst_0" AREA_GROUP = "KECCAK";
INST "theta_perm/LUT6_1_inst_or2" AREA_GROUP = "KECCAK";
INST "theta_perm/parities/theta_addddresses[4].RAM64X1S_inst" AREA_GROUP = "KECCAK";
INST "theta_perm/parities/theta_addddresses[3].RAM64X1S_inst" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<5>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<5>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<6>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<6>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<7>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<7>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<8>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<8>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<9>" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or5" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_1_inst_or" AREA_GROUP = "KECCAK";
INST "control_mod/calc_gr_n_sm_446_767_3" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_1_inst_and4" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_1_inst_or2" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_2_inst765" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_2_inst383" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_2_inst447" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_2_inst62" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_2_inst319" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_1_inst_and" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_2_inst318" AREA_GROUP = "KECCAK";
INST "control_mod/LUT6_1_inst_and3" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_reg_4" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_reg_3" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_reg_2" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_reg_1" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_reg_reg_0" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_last_reg_4" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_last_reg_3" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_last_reg_2" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_last_reg_1" AREA_GROUP = "KECCAK";
INST "theta_perm/parity_last_reg_0" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_1" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_2" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_6" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_4" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_5" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_9" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_7" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_8" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_0" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<0>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<0>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<1>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<1>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<2>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<2>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<3>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<3>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<4>" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<4>" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_3_inst" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst11" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst10" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst13" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst33" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst14" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst21" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst24" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst22" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst31" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_inst41" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst14" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst44" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst34" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst10_good" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or2" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or7" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or9" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or3" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or6" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or4" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst_or8" AREA_GROUP = "KECCAK";
INST "control_mod/eq_765_reg" AREA_GROUP = "KECCAK";
INST "control_mod/eq_765_reg_reg" AREA_GROUP = "KECCAK";
INST "control_mod/eq_62_reg" AREA_GROUP = "KECCAK";
INST "control_mod/round_reg_0" AREA_GROUP = "KECCAK";
INST "control_mod/round_reg_1" AREA_GROUP = "KECCAK";
INST "control_mod/round_reg_2" AREA_GROUP = "KECCAK";
INST "control_mod/round_reg_3" AREA_GROUP = "KECCAK";
INST "control_mod/round_reg_4" AREA_GROUP = "KECCAK";
INST "control_mod/count_reg_3" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<3>51" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<2>11" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<2>21" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<2>31" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<2>41" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<2>51" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<1>11" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<1>21" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<1>31" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<1>41" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<1>51" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<0>21" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<0>31" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<0>41" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<0>51" AREA_GROUP = "KECCAK";
INST "keccak_out<4>1" AREA_GROUP = "KECCAK";
INST "clk_BUFGP" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_1_inst" AREA_GROUP = "KECCAK";
INST "rho_perm/LUT6_2_inst" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_411" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_351" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_341" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_331" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_321" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_311" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_251" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_241" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_231" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_221" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_211" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_151" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_141" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_131" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_121" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_111" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_0<2>11" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_0<3>11" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_0<4>11" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_0<1>11" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<4>11" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<4>21" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<4>31" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<4>41" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<4>51" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<3>11" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<3>21" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<3>31" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<3>41" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_round_reg_xor<3>11" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_round_reg_xor<4>11" AREA_GROUP = "KECCAK";
INST "theta_perm/we_parity_mem1" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_this51" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_this41" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_this31" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_this21" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_this11" AREA_GROUP = "KECCAK";
INST "theta_perm/mux91" AREA_GROUP = "KECCAK";
INST "theta_perm/mux81" AREA_GROUP = "KECCAK";
INST "theta_perm/mux71" AREA_GROUP = "KECCAK";
INST "theta_perm/mux61" AREA_GROUP = "KECCAK";
INST "theta_perm/mux51" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_xor<5>11" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_0<0>11" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_451" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_441" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_431" AREA_GROUP = "KECCAK";
INST "state_regss/Mmux_row_in_421" AREA_GROUP = "KECCAK";
INST "keccak_out_0_OBUF" AREA_GROUP = "KECCAK";
INST "absorpt_IBUF" AREA_GROUP = "KECCAK";
INST "rst_IBUF" AREA_GROUP = "KECCAK";
INST "keccak_in_4_IBUF" AREA_GROUP = "KECCAK";
INST "keccak_in_3_IBUF" AREA_GROUP = "KECCAK";
INST "keccak_in_2_IBUF" AREA_GROUP = "KECCAK";
INST "keccak_in_1_IBUF" AREA_GROUP = "KECCAK";
INST "keccak_in_0_IBUF" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next5" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next5_SW0" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next4" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next4_SW0" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next3" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next3_SW0" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next2" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next2_SW0" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next1" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_parity_next1_SW0" AREA_GROUP = "KECCAK";
INST "Mmux_r_con115" AREA_GROUP = "KECCAK";
INST "Mmux_r_con114" AREA_GROUP = "KECCAK";
INST "Mmux_r_con113" AREA_GROUP = "KECCAK";
INST "Mmux_r_con112" AREA_GROUP = "KECCAK";
INST "Mmux_r_con111" AREA_GROUP = "KECCAK";
INST "Mmux_r_con110" AREA_GROUP = "KECCAK";
INST "Mmux_r_con15" AREA_GROUP = "KECCAK";
INST "Mmux_r_con14" AREA_GROUP = "KECCAK";
INST "Mmux_r_con13" AREA_GROUP = "KECCAK";
INST "Mmux_r_con12" AREA_GROUP = "KECCAK";
INST "Mmux_r_con11" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_round_reg_xor<1>11" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_val1" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_round_reg_xor<2>11" AREA_GROUP = "KECCAK";
INST "state_regss/Mxor_row_in_xor_kecc_in<1>_xo<0>1" AREA_GROUP = "KECCAK";
INST "state_regss/Mxor_row_in_xor_kecc_in<0>_xo<0>1" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_xor<4>11" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_xor<2>11" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_xor<3>11" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_cy<3>11" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_xor<9>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<1>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<2>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<3>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<4>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<5>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<6>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<7>_rt" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_cy<8>_rt" AREA_GROUP = "KECCAK";
INST "keccak_out_4_OBUF" AREA_GROUP = "KECCAK";
INST "keccak_out_3_OBUF" AREA_GROUP = "KECCAK";
INST "keccak_out_2_OBUF" AREA_GROUP = "KECCAK";
INST "keccak_out_1_OBUF" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_round_reg_xor<0>11_INV_0" AREA_GROUP = "KECCAK";
INST "state_regss/not_absorpt1_INV_0" AREA_GROUP = "KECCAK";
INST "Mmux_state_en<0>11_INV_0" AREA_GROUP = "KECCAK";
INST "control_mod/Mcount_count_reg_lut<0>_INV_0" AREA_GROUP = "KECCAK";
INST "Mmux_r_con19_G" AREA_GROUP = "KECCAK";
INST "Mmux_r_con19_F" AREA_GROUP = "KECCAK";
INST "Mmux_r_con19" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_xor<1>11" AREA_GROUP = "KECCAK";
INST "theta_perm/Mmux_address_parity_rs_lut<0>1" AREA_GROUP = "KECCAK";
INST "state_regss/Mxor_row_in_xor_kecc_in<4>_xo<0>1" AREA_GROUP = "KECCAK";
INST "state_regss/Mxor_row_in_xor_kecc_in<3>_xo<0>1" AREA_GROUP = "KECCAK";
INST "state_regss/Mxor_row_in_xor_kecc_in<2>_xo<0>1" AREA_GROUP = "KECCAK";

AREA_GROUP "KECCAK" RANGE=SLICE_X6Y64:SLICE_X11Y77;
