
INST "or_latch02" LOC = "SLICE_X0Y54" | BEL = "CFF"| IOB=FALSE;
INST "or_latch03" LOC = "SLICE_X1Y54" | BEL = "DFF"| IOB=FALSE;
#INST "or_latch04" LOC = "SLICE_X1Y53" | BEL = "C5FF"; #!!!
INST "or_latch10" LOC = "SLICE_X0Y55" | BEL = "AFF"| IOB=FALSE;
INST "or_latch11" LOC = "SLICE_X2Y54" | BEL = "AFF"| IOB=FALSE;
INST "or_latch12" LOC = "SLICE_X1Y55" | BEL = "AFF"| IOB=FALSE;
INST "or_latch13" LOC = "SLICE_X2Y55" | BEL = "AFF"| IOB=FALSE;
INST "or_latch14" LOC = "SLICE_X3Y55" | BEL = "AFF"| IOB=FALSE;
INST "or_latch20" LOC = "SLICE_X0Y56" | BEL = "AFF"| IOB=FALSE;
INST "or_latch21" LOC = "SLICE_X1Y56" | BEL = "AFF"| IOB=FALSE;
INST "or_latch22" LOC = "SLICE_X2Y54" | BEL = "BFF"| IOB=FALSE;
INST "or_latch24" LOC = "SLICE_X2Y56" | BEL = "AFF"| IOB=FALSE;
INST "or_latch32" LOC = "SLICE_X3Y54" | BEL = "CFF"| IOB=FALSE;
INST "or_latch34" LOC = "SLICE_X1Y55" | BEL = "BFF"| IOB=FALSE;
INST "or_latch40" LOC = "SLICE_X3Y55" | BEL = "BFF"| IOB=FALSE;
INST "or_latch41" LOC = "SLICE_X0Y56" | BEL = "BFF"| IOB=FALSE;
INST "or_latch43" LOC = "SLICE_X2Y55" | BEL = "BFF"| IOB=FALSE;
#INST "or_latch44" LOC = "SLICE_X2Y54" | BEL = "DFF"| IOB=FALSE;# !!!!

AREA_GROUP "LUUTS" RANGE=SLICE_X0Y54:SLICE_X3Y55;

INST "LUT6_1_inst" AREA_GROUP = LUUTS;
INST "LUT6_1_inst11" AREA_GROUP = LUUTS;
INST "LUT6_1_inst13" AREA_GROUP = LUUTS;
INST "LUT6_1_inst14" AREA_GROUP = LUUTS;
INST "LUT6_1_inst21" AREA_GROUP = LUUTS;
INST "LUT6_2_inst" AREA_GROUP = LUUTS;
INST "LUT6_2_inst10" AREA_GROUP = LUUTS;
INST "LUT6_2_inst14" AREA_GROUP = LUUTS;
INST "LUT6_2_inst22" AREA_GROUP = LUUTS;
INST "LUT6_2_inst24" AREA_GROUP = LUUTS;
INST "LUT6_2_inst31" AREA_GROUP = LUUTS;
INST "LUT6_2_inst33" AREA_GROUP = LUUTS;
INST "LUT6_2_inst34" AREA_GROUP = LUUTS;
INST "LUT6_2_inst44" AREA_GROUP = LUUTS;
INST "LUT6_inst41" AREA_GROUP = LUUTS;
INST "LUT6_3_inst" AREA_GROUP = LUUTS;
